<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-nav {
            display: flex;
            align-items: center;
        }

            .navbar-nav .search-form {
                margin-left: auto;
                display: flex;
                align-items: center;
                height: 100%;
            }

                .navbar-nav .search-form .form-group {
                    margin-bottom: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .navbar-nav .search-form .input-group {
                    flex: 1;
                }

                .navbar-nav .search-form .input-group-btn {
                    margin-left: 10px;
                }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Trang chủ", "Index", "Sach", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Tất cả sách", "IndexUser", "Sach", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Thông tin phiếu mượn", "IndexUser", "PHIEUMUONs", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Thông tin phiếu trả", "IndexUser", "PHIEUTRAs", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Thông tin cá nhân", "EditUser", "NGUOIMUONs", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="search-form">
                        @using (Html.BeginForm("IndexUser", "Sach"))
                        {
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Tìm kiếm" })
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default" style="color: black; background: #fff; margin-left: 5px">Tìm kiếm</button>
                                    </span>
                                </div>
                            </div>
                        }
                    </li>
                    <li>
                        @Html.ActionLink("Đăng nhập", "Login", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Đăng xuất", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Thư viện đại học Công Nghiệp Hà Nội</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
