@model QLThuVien.Models.CHUDESACH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa chủ đề sách</h2>

<h3>Bạn có muốn xóa chủ đề sách này?</h3>
<div>
    <h4>Chủ đề sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenChuDe)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
    }
</div>
