@model QLThuVien.Models.QUANTRIVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QUANTRIVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenQTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenQTV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matKhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maQTV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
