@model IEnumerable<QLThuVien.Models.PHIEUTRA>

@{
    ViewBag.Title = "Danh sách phiếu trả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách phiếu trả</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NGUOIMUON.tenNguoiMuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tienHoanTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tienPhat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGUOIMUON.tenNguoiMuon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tienHoanTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tienPhat)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "Details", new { id=item.maPhieuTra })
        </td>
    </tr>
}

</table>
