@model TX_2.Models.Sanpham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa sản phẩm này?</h3>
<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Danhmuc.TenDanhmuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Danhmuc.TenDanhmuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenvd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenvd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenAnh)
        </dt>

        <dd>

            @{
                var path = "~/Content/Images/" + Model.Mota;
                <img src="@Url.Content(path)" width="200" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
    }
</div>
