@model TX_2.Models.Sanpham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <h4>Sản phẩm @ViewBag.TenSP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Danhmuc.TenDanhmuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Danhmuc.TenDanhmuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenvd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenvd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenAnh)
        </dt>

        <dd>
            @{
                var path = "~/Content/Images/" + Model.TenAnh;
            }
            <img src="@Url.Content(path)" class="img-thumbnail" width="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Mavd }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
