@model QLThuVien.Models.NHAXUATBAN

@{
    ViewBag.Title = "Xóa nhà xuất bản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa nhà xuất bản</h2>

<h3>Bạn có muốn xóa nhà xuất bản này?</h3>
<div>
    <h4>Nhà xuất bản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
