<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="bg-primary border-1" style="border-width: 1px;">
        <h1 class="text-white text-center">Hanoi University of Industry</h1>
    </div>
    <div class="row border-1" style="border: 1px solid">
        <div class="col-3 border-1" style="border: 1px solid">
            <ul>
                <li>@Html.ActionLink("Giới thiệu", "Index", "TuyenSinh")</li>
                <li>@Html.ActionLink("Tuyển sinh", "tuyensinh", "TuyenSinh")</li>
                <li>@Html.ActionLink("Đào tạo", "daotao", "TuyenSinh")</li>
            </ul>
        </div>
        <div class="col-6 border-1" style="border: 1px solid">
            @RenderBody()
        </div>
        <div class="col-3 border-1" style="border: 1px solid">
            @RenderSection("Image", required: false)
        </div>
    </div>
    <footer class="border-1" style="border: 1px solid;">
        <div class="border-1">
            <h2 class="text-center" style="color:blue">Lê Ngọc Trường - 2020601391</h2>
        </div>
    </footer>
</body>
</html>
