
@{
    ViewBag.Title = "Index";
}
<style>
    #dvPreview1 {
        height: 100px;
        width: 100px
    }
</style>
<h2>Index</h2>
<form method="post" name="f1" action="" enctype="multipart/form-data">
    Staff Id :<br /><input type="text" name="txtID" value="@ViewBag.id" /><br />
    Staff Name :<br /><input type="text" name="txtName" value="@ViewBag.name" /><br />
    Date Of Birth :<br /><input type="date" name="txtDate" value="@ViewBag.birthday" /><br />
    Salary :<br /><input type="text" name="txtSalary" value="@ViewBag.salary" /><br />
    Image :
    <div>
        <input id="fileupload" type="file" class="fileupload1" name="myfileImage" /><hr />
        <b>Live Preview</b><br />
        <img src="@ViewBag.image" id="dvPreview1" />
    </div>
    <input type="submit" value="Save" formaction="/staff/Save" />
    <input type="submit" value="Open" formaction="/staff/Open" />
</form>

