@*@model IEnumerable<QLThuVien.Models.SACH>*@
@model PagedList.IPagedList<QLThuVien.Models.SACH>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using QLThuVien.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách cuốn sách</h2>

<p>
    @Html.ActionLink("Thêm sách mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên chủ đề
        </th>
        <th>
            Tên nhà xuất bản
        </th>
        <th>
            Tên tác giả
        </th>
        <th>
            Tên sách
        </th>
        <th>
            Nhà xuất bản
        </th>
        <th>
            Ảnh bìa
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Giá sách
        </th>
        <th>
            Số bản lưu
        </th>
        <th>
            Số trang
        </th>
        <th>
            Tình trạng
        </th>
        <th>
            Ngôn ngữ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDESACH.tenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHAXUATBAN.tenNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TACGIA.tenTacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.namXB)
            </td>
            <td>
                @{
                    // lay path image
                    string ImagePath = "~/Images/SACH/" + item.anhBia;
                }
                <img src="@Url.Content(ImagePath)" width="200" class="img-thumbnail" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giaSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soBanLuu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngonNgu)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.maSach }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.maSach }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.maSach })
            </td>
        </tr>
    }

</table>
@*Dieu khien chuyen trang*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
