@model IEnumerable<Example_1.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sach san pham</h2>

<p>
    @Html.ActionLink("Tao moi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoryid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quatity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoryid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quatity)
        </td>
        <td>
            @Html.ActionLink("Chinh sua", "Edit", new { id=item.Pid }) |
            @Html.ActionLink("Chi tiet", "Details", new { id=item.Pid }) |
            @Html.ActionLink("Xoa", "Delete", new { id=item.Pid })
        </td>
    </tr>
}

</table>
